body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    background-color: #252027;
}

#brand {
    color: #e9ad2b;
    font-size: 30px;
    float: left;
    margin-top: 6px;
    margin-left: 30px;


}

#mainlogo {
    height: 40px;
    width: 35px;
}

.socialimg {
    height: 40px;
    float: right;
    margin-top: .5%;
    margin-right: 1%;
}

.search {
    height: 500px;
    background-image: url("../img/Food/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

#banner {
    height: 400px;
    width: 100%;
}

#logo {
    width: 270px;
    height: 270px;
    margin-top: 70px;
    margin-left: 85px;
}

#dropdown {
    width: 500px;
    height: 40px;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;

}

#place {
    width: 148px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #252027;
    border: #e9ad2b solid 1px;
    color: #d6562b;
}

#kitchen {
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #252027;
    border: #e9ad2b solid 1px;
    color: #d6562b;
}

#quicksearch {

    width: 80%;
    height: 650px;
    margin: 2.5% 2% 1% 10%;

}


#quickhead {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: #e9ad2b;
    margin-left: 3%;
    text-align: center;
}


#quicksubhead {
    display: block;
    font-size: 40px;
    color: #d6562b;
    margin-left: 3%;
    text-align: center;

}

#quicktab {
    margin-left: 1%;
}

.card {
    border: #d6562b solid 2px;
    width: 29%;
    height: 170px;
    float: left;
    margin: 3% 2% 5% 2%;

}

.cardimg {
    width: 185px;
    height: 170px;
}
#heading{

    text-align: center;
}

#heading>h1{
  color: #e9ad2b;
  font-size: 50px;
  margin: 2% 0% 0% 0%;
}
#heading>h3{
  color: #d6562b;
  font-size: 28px;
  margin: 0% 0% 0% 0%;
}

#container {
    border: #d6562b dashed 2px;
    width: 90%;
    height: 800px;
    margin: 1% 0% 5% 5%;
}

#filter {

    width: 20%;
    height: 91%;
    margin: 2.5% 0% 2.5% 2%;
    float: left;
    display: block;
}

#filter>h1 {
    font-size: 53px;
    text-align: center;
    color: #e9ad2b;
    margin: 0% 0% 0% 0%;
}

#cusinetype {
    position: relative;
}

#cusinetype>span {
    border: #e9ad2b solid 1px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #e9ad2b;
    float: left;
    padding: 5px 7px 5px 7px;
    margin: 1% 1% 1% 1%;
}

#cusinetype>h3 {
    color: gray;
    opacity: 80%;
    font-size: 30px;
    margin: 5% 0% 2% 0%;
}

#sortby {
    margin-top: 140px;
    margin-bottom: 20px;
}

#sortby>h3 {
    color: gray;
    opacity: 80%;
    font-size: 30px;
    margin: 5% 0% 2% 0%;
}

#sortby>span {
    border: #e9ad2b solid 1px;
    border-radius: 20px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #e9ad2b;
    padding: 5px 0px 5px 0px;
    margin: 2% 1% 1% 1%;
    text-align: center;

}

#popular>h3 {
    color: gray;
    opacity: 80%;
    font-size: 30px;
    margin: 5% 0% 2% 0%;
}

#popular>span {
    border: #e9ad2b solid 1px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #e9ad2b;
    float: left;
    padding: 5px 7px 5px 7px;
    margin: 1% 1% 1% 1%;
}

#ktab {
    
    width: 72%;
    height: 91%;
    margin: 5% 0% 2.5% 25%;
}

.kcard {
    border-radius: 15px;
    width: 25%;
    height: 44%;
    float: left;
    margin: 2% 3.6% 0% 3.6%;
}

.kimg {
    float: left;
    width: 95%;
    min-height: 150px;
    margin:5px 2.5% 2% 2.5% ;
}

.khead>h3{
    color: #d6562b;
    margin: 2% 0% 0% 3%;
    font-size: 23px;
}


.ksubhead>h5{
    color: #8b8986;
    margin: 1% 0% 0% 3%;
    opacity: 80%;
    
}
#kbody>span{
    text-align: center;
}


.krate{
  border-radius: 6px;
  color: white;
  margin: 5% 0% 0% 1%;
  float: left;
  text-align: center;
  padding: 0px 2px 0px 2px;
  font-size: 15px;
}

.star{
    font-size: 12.5px;
    
}

.klocation{

    color: #e9ad2b;
    margin: 5% 0% 0% 2%;
    float: left;
    font-weight: bold;
}

.kcost{
color: #e9ad2b;
    margin: 5% 0% 0% 2%;
    float: left;
    font-weight: bold;
}

.kcoupon{

    display: block;
    font-size: 14.5px;
    color: #d6562b;
    margin: 17% 0% 0% 0%;
    text-align: center;
    font-weight: bold;
}

.kbutton{
    border: #e9ad2b solid 2px;
    border-radius: 20px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #e9ad2b;
    padding: 5px 0px 5px 0px;
    margin: 5% 1% 0% 1%;
    text-align: center;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #252027;
    color: #e9ad2b;
    text-align: center;
    padding-top: 3px;

}
footer>h3>span{
    color: crimson;
}